<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Game Genre Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div>
    <h1>🎮 Game Tracker subscribe form </h1>
    </div>
    <div>
    <div>
    <form method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email" required><br><br>    
    <input type="checkbox" name="summary" value=True>
    <label for="summary">Weekly Summary Reports</label><br>
    <input type="checkbox" name="notifications" value=True>
    <label for="notifications">Email notifications</label><br>
    <br><br>
    <h3>Select game genres for email notifications </h3>
        {% for genre in genres %}
        <option value="{{ genre }}"></option>
        <input type="checkbox" name="genre" value="{{genre}}">
        <label for="{{genre}}"> {{genre}}</label>
        <br>
        {% endfor %}
        <br><br>
        <input type="submit" value="Submit">
    </div>
    </form>
</body>

</html>