<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Game Genre Unsubscribe Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div>
        <h1>🎮 Game Tracker Unsubscribe</h1>
    </div>
    <div>
        <div>
            <form method="POST">
                <label for="email">Email:</label>
                <input type="email" name="email" required>
                <input type="submit" value="Submit">
        </div>
        </form>
</body>

</html>